# -*- mode: gitignore; -*-

*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
*.elc

/url/
/auto-save-list/
/backups/
/tramp
/session.*
/abbrev_defs
/ido.last
/recentf
/.smex-items
/ac-comphist.dat
/places

# local customization
/local.el

# elpa packages
/elpa/

# el-get packages
/el-get/

# semantic-mode
/semanticdb/

# Org-mode
/bookmarks
.org-id-locations
*_archive

# eshell files
/eshell/history
/eshell/lastdir

# flymake-mode
*_flymake.*

# generated autoloads from configuration files
/autoloads.el
